@font-face {
  font-family: 'rc-datepicker';
  src: local('Arial'), url('./fonts/datepicker.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

.icon-rc-datepicker {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rc-datepicker' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rc-datepicker_clear::before {
  content: '\f00d';
}

.icon-rc-datepicker_prev::before {
  content: '\f053';
}

.icon-rc-datepicker_next::before {
  content: '\f054';
}

.icon-rc-datepicker_calendar::before {
  content: '\f073';
}
